@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  height: 100vh;
}
header {
  width: 100%;
  padding: 0 3em;
  position: fixed;
  top: 0;
  box-shadow: 0 10px 15px 5px #faf4f4;
  background-color: #fff;
}
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #ff3366;
  height: 2px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}
.progress-container {
  width: 100%;
  height: 2px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
}

.progress-bar {
  height: 2px;
  background: #ff3366;
  width: 0%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  /* position: fixed; */
}
nav h1 {
  font-family: "Yellowtail", cursive;
  cursor: pointer;
}
.show-mobile {
  display: none;
}
li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
  margin: 0 5px;
}
a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #343433;
  font-weight: bold;
}
nav a:hover {
  color: #ff3366;
  transition: 0.5s;
}

.section1 {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .aside1 {
  width: 40%;
}
.section1 .aside2 {
  width: 30%;
  text-align: right;
}
span a {
  padding: 0 10px;
}
span .fab {
  font-size: 1.5em;

  transition: 0.5s;
}
span .fab:hover {
  font-size: 1.5em;
  color: #343433;
}
/* section 1 */
section {
  background-color: #faf4f4;
  margin-top: 4em;
}
.section1 {
  width: 85%;
  margin: 0 auto;
  padding: 5em 0;
}
.aside1 h2 {
  font-size: 3em;
  font-family: "Poppins", sans-serif;
  margin-bottom: 25px;
  letter-spacing: 3px;
}
.aside1 h4 {
  font-size: 1.6em;
  font-family: "Poppins", sans-serif;
  color: #ff3366;
  margin-bottom: 35px;
}
.aside1 p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}
span {
  margin-right: 5px;
}
button {
  background: none;
  border: none;
}
.aside1 a {
  color: #ff3366;
}
.aside1 a:hover > span,
.fas {
  margin-right: 10px;
  transition: 0.5s;
}
.aside2 h1 {
  color: #ff3366;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}
.aside2 h2 {
  font-size: 50px;
}

.skills {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5em;
}
.skills h3 {
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  margin-top: 3em;
  margin-bottom: 1em;
}
.skills p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;

  margin-bottom: 1em;
}
.skillSet {
  display: flex;
  justify-content: space-evenly;
}
.skillSet .skill {
  text-align: center;
  width: 300px;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 0;
  border-radius: 8px;
  box-shadow: 0 10px 15px 5px #faf4f4;
  margin-bottom: 5em;
  border-bottom: 3px solid #ff3366;
}
.skillSet .fas {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #fff;
  background-color: #ff3366;
  font-size: 1.5em;
  margin-bottom: 2em;
}
.skillSet h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;
}
.skillSet h4 {
  font-family: sans-serif;
  margin-bottom: 1em;
}
.myWork {
  width: 85%;
  margin: 0 auto;
}
.myWork img {
  max-width: 100%;
}
.myWork .work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
  margin-bottom: 3em;
}
.work .content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.work .content1 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  color: #ff3366;
  margin-bottom: 1em;
}
.work .content1 p {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
}
.work input {
  padding: 10px 15px;
  background: #dfdfe1;
  border: none;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 1em;
}
.work a:hover > span,
.fas {
  margin-right: 10px;
  transition: 0.5s;
}

/* section four */
.section4 {
  text-align: center;
  padding: 2em 0;
  line-height: 2em;
}
.containers {
  width: 50%;
  margin: 0 auto;
}
.containers h2 {
  font-size: 1em;
}
.section4 h1,
p,
a {
  margin-bottom: 2em;
  font-family: "Inter", sans-serif;
}
.icon {
  padding-top: 2em;
}
.section4 .fas {
  color: #ff3366;
}
.section4 a:hover > span,
.fas {
  margin-right: 10px;
  transition: 0.5s;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 50px 0;
  margin: 0 5em;
}
.main-footer h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-family: "Poppins", sans-serif;
  color: #ff3366;
}
.main-footer h2 {
  font-size: 1.2em;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.main-footer h2:hover {
  color: rgb(146, 146, 146);
}
footer {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
  width: 100%;
  color: grey;
}

@media only screen and (max-width: 900px) {
  .show-mobile {
    display: block;
  }
  .menu-items {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
  #nav {
    transition: 0.6s;
    width: 0;
  }
  nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    padding: 3em 0 0 0;
  }
  nav ul li a {
    color: #fff;
    padding: 1em 2em;
    background-color: #494948;
    display: block;
    transition: 0.5s;
  }
  nav ul li a:hover {
    color: #fff;
    background-color: #5a5a5a;
  }
  nav h1 {
    font-family: "Yellowtail", cursive;
    cursor: pointer;
  }
  li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    color: #fff;
  }
  .section4 h1,
  p,
  div,
  a {
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 5em;
    padding-bottom: 5em; */
  }
  .section1 .aside1 {
    width: 100%;
    /* text-align: center; */
    margin-bottom: 30px;
  }
  .section1 .aside2 {
    width: 100%;
    text-align: left;
  }
  .aside1 h2 {
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    margin-bottom: 25px;
    letter-spacing: 3px;
  }
  .aside1 h4 {
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    color: #ff3366;
    margin-bottom: 35px;
  }
  span {
    text-decoration: underline;
  }
  .aside2 h1 {
    color: #ff3366;
    font-size: 30px;
    font-family: "Poppins", sans-serif;

    display: inline;
  }
  .aside2 h2 {
    font-size: 30px;
    display: inline;
  }
  .skillSet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .myWork {
    width: 80%;
    margin: 0 auto;
  }
  .myWork .work {
    display: flex;
    flex-direction: column;
  }
  .exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
    cursor: pointer;
    font-weight: bold;
  }
  .fas {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 650px) {
  .main-footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    padding: 0;
    padding-bottom: 2em;
    margin: 0;
  }
  .section1 {
    width: 100%;
    margin: 0 auto;
    padding: 2em 2em;
  }
  .main-footer div {
    margin-top: 2em;
  }
  .main-footer h1 {
    font-size: 1.2em;
  }
  .main-footer h2 {
    font-size: 1em;
  }
  .underline {
    display: block;
    position: relative;
    overflow: hidden;
  }
}
